<div [@visibleHidden]="isVisible() ? 'visible' : 'hidden'" class="shortened-response-container">
    <p>You can share this awesome short URL!</p>
    <div class="short-url-container">
        <a class="short-url" [href]="urlEntry && 'http://' + urlEntry.shortUrl">{{ urlEntry && urlEntry.shortUrl }}</a>
        <button (click)="copyLink()" class="copy-button" [class.copied]="isCopied()">
            <svg class="copy-button-icon" *ngIf="!isCopied()" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zM6 20V4h7v5h5v11H6z" />
            </svg>

            <svg class="copy-button-icon" *ngIf="isCopied()" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z" />
            </svg>
        </button>
    </div>
</div>
