
.footer {
    height: 2em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 0.5em;
    color: #2b2b2b;
}

.footer .coffee-icon * {
    fill: #2b2b2b;
}
